
/*--------------------------------------------------------------
Google Fonts
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');


/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus 
{ background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; display: block; font-size: 14px; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; /* Above WP toolbar */ }


/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

html { }

body, html { width: 100%; height: 100%; }
body { font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif"; color: #eee; background-color: #333; }

a { color: #555; text-decoration: none; }
a:hover, a:focus { color: #333; }

img { margin: 0; padding: 0; display: block; border: 0; width: 100%; height: auto; }

strong { font-weight: bold; }
em { font-style: italic; }
sup { margin-top: -.375em; font-size: .625em; display: inline-block; vertical-align: top; }

.clear { clear: both; float: none; }
.center { text-align: center; }
.strong { font-weight: bold; }
.italic { font-style: italic; }
.uppercase { text-transform: uppercase; }

body.home h1, 
h2, 
.offscreen 
{ margin-left: -9999em; position: absolute; }


/* Masthead section */

.masthead { margin: 0; padding: 0; width: 4em; height: 100%; background: #000 url("../images/pattern.png") repeat top left; border-right: 1px solid #666; position: fixed; top: 0; left: 0; }

.masthead a { text-decoration: none; }
/*
.masthead p a span { margin-left: -9999em; position: absolute; }
*/
.masthead a p { font-family: "Questrial", "Helvetica Neue", Helvetica, Arial, "sans-serif"; font-size: 1.5em; letter-spacing: .0625em; text-transform: uppercase; color: #eee; writing-mode: vertical-rl; position: absolute; -ms-writing-mode: tb-lr; top: 3em; left: .8125em; }
.masthead a:hover p, .masthead a:focus p { color: #aaa; }
.masthead a img { margin: 0; padding: 0 10%; width: 80%; height: auto; background-color: #528db5; border-bottom: 1px solid #666; }
.masthead a:hover img, .masthead a:focus img { background-color: #000; opacity: 0.85; }


/* Home grid section */

.home-grid { margin: 1em 1em 1em 5em; padding: 0; }

.home-grid ul { display: grid; grid-template-columns: 1fr; grid-gap: 1em; }
.home-grid li a { display: block; border: 1px solid #666; }
.home-grid li a img { margin: 0; padding: 0; width: 100%; height: auto; opacity: 1.0; }
.home-grid li a:hover img, 
.home-grid li a:focus img { opacity: 0.2; }
.home-grid li a h3 { margin-left: -9999em; position: absolute; font-family: "Questrial", "Helvetica Neue", Helvetica, Arial, "sans-serif"; font-size: 1em; letter-spacing: .0625em; text-transform: uppercase; text-align: center; color: #eee; border: 1px solid #666; border-left: none; }
.home-grid li a:hover h3, 
.home-grid li a:focus h3 { margin: -8em 0 0; padding: 1em; background: transparent url("../images/black-60.png") repeat top left; }


/* Subpage content section */

.project { margin: 0 1em 1em 5em; padding: 0; }
.project p { margin: 0 0 1em; font-size: 1em; line-height: 1.25em; }

.project-title { margin: 1em; }
.project-title h1 { font-family: "Questrial", "Helvetica Neue", Helvetica, Arial, "sans-serif"; font-size: 2em; letter-spacing: .0625em; text-transform: uppercase; color: #eee; }

.project-about, 
.project-info { margin: 3em 1em 1em; }

.project-about div { margin: 0 0 2em; }

.project-about h3, 
.project-info h3 { margin: 0 0 1em; font-family: "Questrial", "Helvetica Neue", Helvetica, Arial, "sans-serif"; font-size: 1.25em; letter-spacing: .0625em; text-transform: uppercase; color: #eee; }
.project-about h3.first, 
.project-info h3.first { margin-top: -1em; }

.project-info ul.software li { margin: 0 .5em 0 0; width: 2.5em; height: 2.5em; display: inline-block; }
.project-info ul.software li span { margin-left: -9999em; position: absolute; }

.project-images { margin: 0; }
.project-images ul { display: grid; grid-template-columns: 1fr; grid-gap: 1em; }
.project-images li { border: 1px solid #666; }

body.about .project img { margin: 4em 0 0; border: 1px solid #222; }


/* Main navigation */

#navigation { width: 4em; text-align: center; position: fixed; bottom: 12em; left: 0; z-index: 10; }
#navigation ul { border-top: 1px solid #666; }
#navigation li { font-size: .75em; text-transform: uppercase; border-bottom: 1px solid #666; }
#navigation li a { padding: 1em 0; color: #eee; background-color: #000; display: block; }
#navigation li a:hover, #navigation li a:focus { color: #aaa; background-color: #222; text-decoration: underline; }

body.home #navigation li.home-hide { display: none; }
body.subpage #navigation li.sub-hide { display: none; }


/* Colophon footer section */
.colophon { margin: 0; padding: 0; position: fixed; bottom: 2em; left: 1em; z-index: 10; }
.colophon ul { margin: 0; padding: 0; list-style-type: none; }
.colophon li { margin: 1em 0 0; }
.colophon li a { width: 2em; height: 2em; background-color: #000; border: 1px solid #666; display: block; }
.colophon li a img { margin: 0; padding: 0; width: 100%; height: auto; opacity: 0.7; }
.colophon li a:hover img, .colophon li a:focus img { margin: 0; padding: 0; width: 100%; height: auto; opacity: 1.0; }
.colophon li a span { margin-left: -9999em; position: absolute; }


/*--------------------------------------------------------------
Basic responsive layout for all browsers:
--------------------------------------------------------------*/

@media screen and (min-width: 768px) {

.masthead { width: 6em; }
.masthead a p { font-size: 2em; top: 3.5em; left: .875em; }

.home-grid { margin-left: 7em; }
.home-grid ul { grid-template-columns: 1fr 1fr; }

.project { margin: 1em 4em 1em 7em; padding: .5em 2em 1em 1em; }

.project-title {   }
.project-title h1 { margin: 0; padding: 0; font-size: 3em; line-height: 1em; writing-mode: vertical-rl; -ms-writing-mode: tb-lr; height: 100em; position: fixed; top: .5em; right: .5em; }

.project-about { display: grid; grid-template-columns: 1fr 1fr; grid-gap: 2em; }
body.about .project img { margin: 6em 10% 0; width: 80%; }

#navigation { width: 6em; }
.colophon { left: 2em; }

}

@media screen and (min-width: 1224px) {

.home-grid ul { grid-template-columns: 1fr 1fr 1fr; }

body.about .project img { margin: 6em 20% 0; width: 60%; }

.project-images ul { grid-template-columns: 1fr 1fr; }
.project-images ul :first-child { grid-column: 1 / -1; }

}

@media screen and (min-width: 1800px) {

.home-grid ul { grid-template-columns: 1fr 1fr 1fr 1fr; }
	
}


/*--------------------------------------------------------------
CSS Grid layout for modern browsers:
--------------------------------------------------------------*/

@supports (grid-area: auto) {

@media screen and (min-width: 768px) {



}


@media screen and (min-width: 1224px) {


	
}

}






/*--------------------------------------------------------------
IE 10 + 11 specific:
--------------------------------------------------------------*/

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */



}

@media screen and (min-width: 768px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {



}

@media screen and (min-width: 1224px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {


}





