
/* ---------- GOOGLE FONT JOSEFIN SANS USED AS DISPLAY HEADER FONT ---------- */




/* ---------- ALL DEFAULT STYLES FOR SMALL SCREENS ARE PROGRESSIVELY ENHANCED FOR LARGER SCREENS VIA MEDIA QUERIES NEAR BOTTOM OF THIS FILE  ---------- */

/* ---------- SITEWIDE DEFAULT STYLES ---------- */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, html { width: 100%; }
body { font-family: Helvetica, Arial, sans-serif; color: #333; background-color: #fff; }

a { color: #555; text-decoration: none; 
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
a:hover, a:focus { color: #333; }

strong { font-weight: bold; }
em { font-style: italic; }

.clear { clear: both; float: none; }
.center { text-align: center; }
.strong { font-weight: bold; }
.italic { font-style: italic; }
.quote { margin-left: 1em; padding-left: 1em; border-left: 3px double #999; }
.inline { display: inline; }
.inline-block { display: inline-block; }
.floatleft { float: left; }

a#skip-link, h2, #content .offscreen { margin-left: -999em; position: absolute; }



/* ---------- DEFAULT HEADER, ODOS LOGO, COLUMN I LOGO, AND UI LINK STYLES ---------- */

#header { }




/* ---------- DEFAULT MAIN NAVIGATION STYLES ---------- */

#navigation {  }



/* ---------- DEFAULT CONTENT AREA STYLES ---------- */

#content {  }

#content .container {  }



/* ---------- DEFAULT FOOTER AREA STYLES ---------- */

#footer {  }






/* ---------- THE FOLLOWING STYLES EITHER ENHANCE OR OVERRIDE THE STYLES LISTED ABOVE FOR SMALLER SCREENS ---------- */







/* Tablets and larger ---------- */
@media only screen and (min-width: 768px) {



} /*/mediaquery*/















/* Desktops and laptops ---------- */
@media only screen and (min-width: 1224px) {



} /*/mediaquery*/














